
.toggle {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
  }
  
  .toggle input[type=checkbox] {
    display: none;
  }
  
  .toggle-switch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  .toggle-switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .toggle-checkbox:checked + .toggle-switch {
    background-color: #2196f3;
  }
  
  .toggle-checkbox:checked + .toggle-switch:before {
    transform: translateX(30px);
  }
  
  
  